.ant-modal-close {
    top: 23px !important;
}

.ant-modal-header {
    margin-left: -23px;
    margin-right: -23px;
    padding-left: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;

    .ant-modal-title {
        font-size: 20px;
    }
}

.ant-modal-body {
    margin-top: 30px;
}

.ant-modal-wrap-rtl {
    .ant-modal-header {
        padding-right: 15px
    }
}